.password-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}

.password-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.password-popup-title {
  display: grid;
  grid-template-columns: 8fr 0.5fr;
  align-items: center;
  justify-items: center;
  gap: 5px;
  font-size: 15px;
  padding: 10px 10px;
}
.password-popup-title p {
  padding-top: 20px;
  font-size: 18px;
}

.password-popup-title img {
  width: 16px;
  cursor: pointer;
}

.password-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.password-popup-container button {
  border: none;
  padding: 10px;
  background-color: tomato;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
